body {
    background-color: #f5f5dd;
}

#one {
    background-color: rgba(0, 0, 0, 1);
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

#two {
    background-color: rgba(0, 0, 0, 0.75);
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#three {
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#four {
    background-color: rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}