body {
    background-color: #f5f5dd;
}

.box {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

#one {
    background-color: rgba(0, 0, 0, 1);   
}

#two {
    background-color: rgba(0, 0, 0, 0.75);
}

#three {
    background-color: rgba(0, 0, 0, 0.5);
}

#four {
    background-color: rgba(0, 0, 0, 0.25);
}