#tlo {
    background-color: #808080;
    width: 400px;
    height: 800px;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    
}

h1 {
    margin-left: 30px;
    padding: 10px;
}

.kwadrat {
    background-color: #fea500;
    width: 150px;
    height: 150px;
    margin-left: 60px;
    margin-bottom: 20px;
}